**/build/
.DS_Store
**/.DS_Store
**/.vscode
dependencies/

*mp4

TITA_MJ/log/*/weights
!TITA_MJ/log/*/saved_weights/**
TITA_MJ/videos/

TITA_MJ/MUJOCO_LOG.TXT
TITA_MJ/tita_tensorboard/
TITA_MJ/__pycache__/
TITA_MJ/compiled/
TITA_MJ/exec/
TITA_MJ/tita_mj-*.conda
TITA_MJ/.conda

TITA_MJ/tesi/other/tita_rl

